@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
  }
  
body {
    font-family: Poppins, sans-serif;
    /* background-color: #aaa; */
}
 
article{
    font-family: Poppins-Medium;
    float: left;
    width: 100%;
    background-color: #fff;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;

}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

.story-descript {
    float: left;
    width: 100%;
    padding: 0 20px 20px 20px;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 10px;
}

.story-descript a{
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    text-decoration: none;
}

.story-descript > p {
    color: #686868;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tags {
    /* float: left; */
    display: flex;
    /* flex-direction: column; */
    /* justify-content: stretch; */
    /* align-items: center; */
    /* margin-top: 10px; */
    /* align-items: center; */
    /* width: 100%; */
}

.tags p {
    /* display: flex; */
    /* display: inline-block; */
    border-radius: 12px;
    border-style: solid;
    border-color: #e5e5e5;
    background-color: #e5e5e5;
    padding: 2px;
    /* text-align: center; */
    text-decoration: none;
    margin-right: 6px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
.tags p:hover {
    background-color: #b2b2b2;
}
.tags p a{
    color: grey;
    font-size: 14px;

}
.story .post-info {
    display: flex;
    list-style: none;
    float: left;
    width: 100%;
    position: relative;
    padding: 20px 20px 15px 20px;
}

.story .post-info .post-dn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    /* text-decoration: none; */
}
.like-com {
    float: left;
    display: flex;
    justify-content: space-between;
}
.story .post-footer {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    float: left;
    width: 100%;
    /* padding: 15px 20px; */
}
.like-com li {
    display: flex;
    /* float: right; */
    /* justify-content: flex-end; */
    align-items: center;
    /* display: inline-block; */
    margin-right: 10px;
    /* justify-content: flex-end; */
    /* position: absolute; */
    /* right: 0; */
    display: inline-block;
}

.like-com li .votes {
    /* display: flex; */
    color: #b2b2b2;
    font-size: 14px;
    float: left;
    /* margin-top: 6px; */
    margin-right: 5px;
    /* position: absolute; */
    /* left: 40; */
}

p{margin-top: 0;/* font-family: Poppins-Medium; */font-family: "Roboto", sans-serif;max-width: 540px;color: #777777;margin-bottom: 40px;}

/* Column container */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */

/* Main column */
.main {   
    
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.main img {
    border-radius: 50%;
  }
  
.like-com li .comment{
    flex: auto;
    font-family: Poppins-Bold;
    background-color: black;
    color:white;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    right: 40;
}

.like-com img {
    width: 50px;
    height: 30px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

@import "https://fonts.googleapis.com/css?family=Raleway";
<<<<<<< HEAD

=======
* {box-sizing: inherit;}
>>>>>>> b12db40d16a8d890f38569da18cd5fa2a946e28e
body {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  text-transform: uppercase;
  font-size: 11px;
}
h1{ margin: 0; }

#contact { 
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  margin: 4em auto;
  width: 100px; 
  height: 30px; 
  line-height: 30px;
  background: teal;
  color: white;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
}

#contact:hover { background: #666; }
#contact:active { background: #444; }

#contactForm { 
  display: none;

  border: 6px solid salmon; 
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%)
  
}

.newStory input, textarea {
  margin: .8em auto;
  font-family: inherit;
  text-transform: inherit;
  font-size: inherit;
  display: block;
  width: 280px;
  padding: .4em;
  width: 90%;
  color: #b2b2b2;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
  font-weight: 500;
}
textarea { height: 80px; resize: none; }

.formBtn { 
  width: 140px;
  display: inline-block;
  
  background: teal;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}

.newStory {
    width: 517px;
    /* display: flex; */
    justify-items: center;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

form#storyForm {display: flex;justify-content: center;}

.newStory h3 {
    background-color: grey;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    margin: 0;
}

.newStory input, textarea{
    width: 90%;
}

.newStory .buttons {
    list-style: none;
    /* background-color: green; */
}

.newStory ul {
    list-style: none;
    display: flex;
    /* justify-content: right; */
    /* margin-right: 6px; */
}

.newStory ul li {
    margin-right: 6px;
    /* background-color: grey; */
    /* text-decoration: none; */
}

.newStory ul li button {
    justify-content: space-around; 
    font-family: Poppins-Bold;
    background-color: black;
    color: white;
    font-size: 14px;
    text-decoration: none;
    padding: 6px;

}
.buttons ul li a {
    text-decoration: none;
    color: white;
}

.post-story{
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
    width: 100%;
    padding: 23px 20px;
    background-color: #fff;
    border-top: 4px solid #444;
    border-left: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.24);
    -ms-box-shadow: 0 0 1px rgba(0,0,0,0.24);
    -o-box-shadow: 0 0 1px rgba(0,0,0,0.24);
    box-shadow: 0 0 1px rgba(0,0,0,0.24);
    margin-bottom: 20px;
}


.post-story a {
    color: white;
    background-color: grey;
    padding: 6px;
    font-size: medium;
    border-radius: 15px;
    text-decoration: none;
}


div#newComment-1 {
    display: flex;
    /* background-color: greenyellow; */
}

button#sendCommentButton1 {
    height: 80;
    margin-top: 12;
}

.comments-container {
    border-bottom: 1px solid #eeeeee;
    background-color: #e1e8f1;
}

.comments-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comments-user footer {
    position: absolute;
    right: 30;
}
